* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
html {
    font-size: 16px;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1em;
}

nav {
    background: transparent;
    height: 80px;
    position: absolute;
    max-width: 1400px;
    padding: 0 80px;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}

.logo {
    height: 60px;
    margin-top: 10px;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 20px;
}
nav ul li a {
    color: white;
    font-size: 12px;
}
nav ul li a:hover {
    color: white;
    transition: 0.5s;
}
.checkbtn {
    font-size: 40px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}

main {
    width: 100%;
    height: 100%;
}
.p20 {
    padding-right: 10%;
    padding-left: 10%;
}
.sec1 {
    height: 100vh;
    width: 100%;
    background-image: url('../images/bg_main.png');
    background-repeat: no-repeat;
    /* background-position: 100% 170%; */
    /* background-size: cover; */
    background-position: top right;
    background-size: 80%;
}
.sec1-container {
    /* padding-top: 15%; */
    height: 100vh;
    max-width: 1400px;
    padding: 0 80px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.sec1-text-container p:nth-child(1) {
    font-size: 32px;
    color: black;
    font-weight: 400;
    margin-bottom: 50px;
}
.sec1-text-container p:nth-child(2) {
    font-size: 24px;
    color: #64A21A;
    font-weight: 400;
    margin-bottom: 20px;
}
.sec1-text-container img {
    margin-bottom: 100px;
    height: 60px;
}

.buttons-container img {
    height: 50px;
    margin-right: 20px;
}

/* Section 2*/
.sec2 {
    height: 100vh;
    width: 100%;
    background-image: url('../images/test_bg_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
}
.sec2-container {
    height: 100vh;
    max-width: 1400px;
    padding: 0 80px;
    box-sizing: border-box;
    margin: 0 auto;

}
/* .sec2-text-container p:not(.tab-title, .tab-text) {
    font-size: 1.625rem;
    font-weight: 500;
    color: #8BBC51;
} */
.tab-title {
    /* font-size: 3.125rem; */
    font-size: 45px;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
}
.tab-text {
    /* font-size: 1.5rem; */
    font-size: 24px;
    font-weight: 400;
    color: #717171;
}
/*tabs*/
.sec2-title {
    display: flex;
    position: relative;
    margin-bottom: 80px;
}
.sec2-title img {
    height: 26px;
    align-self: center;
}
.sec2-title p {
    /* font-size: 1.625rem; */
    font-size: 26px;
    font-weight: 400;
    color: #8BBC51;
}

.hero {
    width: 100%;
    overflow: hidden;
}
.btn-box {
    display: flex;
    position: relative;
    z-index: 30;
    margin-bottom: 50px;
    padding-right: 50px;
}
.btn-box button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    /* width: 200px; */
    width: 200px;
    box-sizing: border-box;
    padding: 14px 0;
    /* font-size: 1.375rem; */
    font-size: 22px;
    font-weight: 500;
    color: #9F9F9F;
    border-bottom: thick solid #E5E5E5;

}

.btn-box button.active {
    border-color: #64A21A;
}

.content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}
.sec2-text-container {
    position: relative;
}
.content-right img {
    /* width: 500px; */
    width: 100%;
    height: auto;
}
.content-left {
    align-self: center;
}
.content-right {
    flex-basis: 50%;
    text-align: right;
    max-width: 500px;
}
#content1, #p2-content1 {
    transform: translateX(0px);
}
#btn1, #p2-btn1 {
    color: #64A21A;
    border-bottom: thick solid #64A21A;
}

/* sec3 */
.sec3 {
    height: auto;
    width: 100%;
    background-image: url('../images/test-bg_2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
}

/* sec4 */
.sec4 {
    height: 60vh;
    width: 100%;
    background-image: url('../images/bg_3.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec4-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec4-content h2 {
    /* font-size: 3.125rem; */
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.35);
    margin-bottom: 50px;
}
.socials-img img {
    max-height: 100px;
    background: transparent;
}
.sec4-socials-container {
    display: flex;
}
.socials-item {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.socials-text {
    /* font-size: 1.5rem; */
    font-size: 20px;
    font-weight: 400;
    color: white;
}

/* sec5 */
.sec5 {
    height: 60vh;
    width: 100%;
    background: #EFF5E9;
}
.sec5-container {
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sec5-logo {
    flex-basis: 50%;
    text-align: center;
}
.sec5-text {
    flex-basis: 50%;
}
.sec5-text h2 {
    /* font-size: 3.125rem; */
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 40px;
}
.sec5-text p {
    /* font-size: 1.625rem; */
    font-size: 24px;
    font-weight: 400;
    color: #717171;
    margin-bottom: 55px;
}
.sec5-text a {
    font-size: 1.25rem;
    font-weight: 400;
    color: white;
    background: linear-gradient(to right, #C4E82E,#99CC34);
    padding: 15px 25px;
    border-radius: 25px;
}
.sec5-logo img {
    width: 250px;
}

/* footer */
.footer {
    height: 280px;
    width: 100%;
    box-sizing: border-box;
    color: #292929;
    background: #EEEEEE;
    position: relative;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-content: center;
}
.footer a {
    color: #292929;
    font-weight: bold;
}
/*.wrapper {*/
    /*position: absolute;*/
    /*width: 60%;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
/*}*/
.footer-container {
    display: flex;
    max-width: 1024px;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
}
.footer-icons {
    display: flex;
}
.footer-icon {
    margin-left: 20px;
}
.footer-icon a img{
    width: 40px;
}
span {
    padding: 0 15px;
}
.first-span {
    padding: 0 15px 0 0;
}
.footer-copyright {
    margin-top: 20px;
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .sec1 {
        background-image: url('../images/bg_main.png');
        background-size: 90%;
        background-position: top -100px right;
    }
    .sec1-text-container img {
        margin-bottom: 50px;
    }
    .sec2 {
        background-position: top 200px right;
    }
    .sec3 {
        background-position: top -200px right;
    }
}

@media screen and (max-width: 1024px) {
    .sec1-text-container p {
        font-size: 1.5625rem !important;
    }
    .sec1-text-container p:nth-child(2) {
        font-size: 1.065rem !important;
    }
    .sec1-text-container img {
        height: 60px;
        margin-bottom: 50px;
    }
    .buttons-container {
        margin-bottom: 10%;
    }
    .buttons-container img {
        height: 50px;
        margin-right: 10px;
    }

    .sec1 {
        background-image: url('../images/bg_main_tablet_vertical.png');
        height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 100%;
    }
    .sec1-container {
        justify-content: flex-end;
    }

    .sec5-text h2 {
        font-size: 28px;
    }

    .sec5-text p {
        font-size: 12px;
    }

    .sec5-text a {
        font-size: 12px;
    }

    .sec5, .sec5-container {
        height: 360px;
    }

    .footer-container {
        max-width: 800px;
        font-size: 16px;
    }

    .socials-img img {
        max-height: 57px;
    }

    .sec4-content h2 {
        font-size: 28px;
    }

    .socials-text {
        font-size: 14px;
    }

    .sec4 {
        background-size: 115%;
        background-position: bottom center;
        height: 360px;
    }

    .tab-title {
        font-size: 35px;
    }

    .sec2-title p {
        font-size: 18px;
    }

    .sec2-title img {
        height: 18px;
        margin-right: 5px;
    }

    .btn-box button {
        width: 147px;
        font-size: 15px;
    }

    .tab-text {
        font-size: 17px;
    }

    .content-right {
        width: 350px;
    }

    .sec2-container {
        height: 750px;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .sec1, .sec2 {
        height: auto;
    }


    nav {
        background: transparent;
        height: 80px;
        position: absolute;
        max-width: 1200px;
        padding: 0 80px;
        box-sizing: border-box;
        left: 0;
        right: 0;
        margin: auto;
    }
}

@media screen and (max-width: 900px) {
    nav {
        display: none;
    }
    .sec1-text-container p:nth-child(1) {
        margin-bottom: 25px;
    }
    .sec1-text-container img {
        margin-bottom: 40px;
    }
    .sec2, .sec3 {
        height: 100vh;
    }
    .sec2-title {
        margin-bottom: 50px;
    }
    .sec2-text-container {
        margin-top: 300px;
    }
    .content {
        flex-direction: column;
        align-items: center;
    }
    .sec4 {
        background-size: cover;
    }
    .sec5, .sec5-container {
        height: 500px;
    }
    .sec5-container {
        flex-direction: column;
    }
    .sec5-logo img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .footer {
        padding: 0 20%;
    }
}
@media screen and (max-width: 768px) {
    
}
@media screen and (max-width: 600px) {
    .sec1 {
        background-image: url('../images/bg_main_mobile_vertical-wide.png');
        background-position: top -50px right;
    }
    .sec1-container, .sec2-container {
        /* padding: 0 20px; */
        padding: 0;
    }
    .sec1-container {
        padding: 0 20px;
    }
    .sec2-title {
        margin-bottom: 20px;
    }
    .sec2, .sec3 {
        height: 125vh;
    }
    .content-left {
        margin-left: 10px;
        align-self: flex-start;
    }

    .sec4-content h2 {
        text-align: center;
    }
    .socials-item {
        margin: 0 20px;
    }
    .footer {
        height: 350px;
    }
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-icons {
        margin-top: 25px;
    }
    .footer-icon:first-child {
        margin-left: 0;
    }
}
@media screen and (max-width: 414px) {
    .sec1-text-container p:nth-child(1) {
        font-size: 23px;
    }
    .sec1-text-container p:nth-child(2) {
        font-size: 16px;
    }
    .sec1-text-container img {
        height: 55px;
        margin-bottom: 20px;
    } 
    .buttons-container {
        margin-bottom: 5%;
    }
    .buttons-container img {
        height: 50px;
    }
    .btn-box button {
        width: 115px;
        font-size: 14px;
    }
    .sec2-title p {
        font-size: 18px;
    }
    .tab-title {
        font-size: 27px;
    }
    .tab-text {
        font-size: 16px;
    }
    .sec3 {
        background-position: top -300px right;
    }
    .sec4-content h2 {
        font-size: 21px;
    }
    .socials-item {
        margin: 0 10px;
    }
    .socials-text {
        font-size: 12px;
    }
    .sec5-text {
        margin: 0 50px;
    }
    .sec5-text h2 {
        font-size: 21px;
    }
    .sec5-text p {
        font-size: 16px;
    }
    .footer-container {
        font-size: 14px;
    }
}
@media screen and (max-width: 375px) {
    .sec1 {
        background-image: url('../images/bg_main_mobile_vertical-thin.png');
        background-position: top -100px right;
    }
    .sec1-text-container p:nth-child(1) {
        font-size: 22px;
    }
    .sec1-text-container p:nth-child(2) {
        font-size: 16px;
    }
    .sec1-text-container img {
        height: 50px;
    } 
    .buttons-container img {
        height: 45px;
    }
    .btn-box button {
        width: 115px;
        font-size: 14px;
    }
    .sec2-title p {
        font-size: 17px;
    }
    .tab-title {
        font-size: 25px;
    }
    .tab-text {
        font-size: 15px;
    }
    .sec4-content h2 {
        font-size: 18px;
    }
    .socials-item {
        margin: 0 10px;
    }
    .socials-text {
        font-size: 12px;
    }
    .sec5-text {
        margin: 0 50px;
    }
    .sec5-text h2 {
        font-size: 19px;
    }
    .sec5-text p {
        font-size: 15px;
    }
    .footer-container {
        font-size: 14px;
    }
}
